task-state.asl.json
{
  "Comment": "Task state example - calling AWS services",
  "StartAt": "CallLambda",
  "States": {
    "CallLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-northeast-1:123456789012:function:ProcessOrder",
      "Next": "WriteToDynamoDB"
    },
    "WriteToDynamoDB": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "Orders",
        "Item": {
          "orderId": {
            "S.$": "$.orderId"
          },
          "status": {
            "S": "processed"
          }
        }
      },
      "Next": "SendNotification"
    },
    "SendNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:ap-northeast-1:123456789012:OrderNotifications",
        "Message.$": "$.message"
      },
      "End": true
    }
  }
}
